@font-face {
  font-family: Helvetica-medium;
  src: url("./assets/fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: Helvetica-bold;
  src: url("./assets/fonts/HelveticaNeueBd.ttf");
}

@font-face {
  font-family: Helvetica-heavy;
  src: url("./assets/fonts/HelveticaNeueHv.ttf");
}

@font-face {
  font-family: Helvetica-light;
  src: url("./assets/fonts/HelveticaNeueLt.ttf");
}

@font-face {
  font-family: Helvetica-rg;
  src: url("./assets/fonts/HelveticaNeue.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b3aca2;
  border-radius: 5px;
}
